<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body id='bd'>
	<div class="alert alert-success" id="successalert" role="alert" hidden>
		Registration successful!
	</div>
	<div class="alert alert-warning" id="warmingalert" role="alert" hidden>
		User with this email already exist
	</div>
	<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style='height:400px'>
			<div class="card-header">
				<h3>Register</h3>
			</div>
			<div class="card-body">
				<form method="post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input required type="email" class="form-control" name="email"  placeholder="email address">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input required type="password" class="form-control" name="pass" placeholder="password">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input required type="password" class="form-control" name="cpass"  placeholder="confirm password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox" name="rememberme">Remember Me
					</div>
					<div class="form-group">
						<input type="button" value="Register" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Already have an account?<a href="/login">Sign In</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
			
	var pass;
	var cpass;
	var email;
	$(document).ready(function(){
		var btn = $('input[type=button]');
		var passinp = $('input[name=pass]')
		var cpassinp = $('input[name=cpass]')
		var emailinp = $('input[name=email]')

		btn.prop('disabled', true);

		$('input[name=cpass],input[name=pass],input[name=email]').on('change', function(){
			btn.prop('disabled', true);
			pass = passinp.val();
			cpass = cpassinp.val();
			email = emailinp.val();
			if(pass==cpass && email.trim()!== ""){
				console.log('Matched')
				btn.prop('disabled', false);
			}
			console.log(`${pass} == ${cpass}`);
		})
		btn.click(handleRegister);
	})

	async function handleRegister() {
		axios.post('/register', {
			email: email,
			pass: pass
		}).then(function(res){
			console.log(res);
			if(res.data){
				$('#successalert').prop('hidden', false);
				document.location.href='/login';
			}else{
				$('#successalert').prop('hidden', false);
			}
		})
	}
</script>
</body>
</html>